//行高
$line_height_base: 1.428571429 !default;
//边距
$margin_xl: 48px !default;
$margin_lg: 40px !default;
$margin_default: 16px !default;
$margin_s: 8px !default;
$margin_xs: 4px !default;
//主要颜色
$base: #3f5161 !default;
$brand1: #427cac !default;
$brand2: #91C8F6 !default;
$light_base: #eff4f9 !default;
$background: #ebebeb !default;
//语义颜色 
$danger: #b00 !default;
$warning: #e78c06 !default;
$success: #2b7c2b !default;
$neutral: #5e696e !default;
//灰阶颜色（主要用于文本）
$gray1: #333 !default;
$gray2: #666 !default;
$gray3: #bfbfbf !default;
$gray4: #ccc !default;
$gray5: #e5e5e5 !default;
$white: #fff !default;
//文本大小
$font_size_h1: 28px !default;
$font_size_h2: 22px !default;
$font_size_h3: 20px !default;
$font_size_h4: 18px !default;
$font_size_lg: 16px !default;
$font_size_md: 14px !default;
$font_size_s: 12px !default;


$padding_base_vertical:     6px !default;
$padding_base_horizontal:   12px !default;

$border_radius_base:        4px !default;
$border_radius_large:       6px !default;
$border_radius_small:       3px !default;



/****Button****/
$btn_default_color:              #0070b1 !default;
$btn_default_bg:                 #f7f7f7 !default;
$btn_default_border:             $gray3 !default;

$btn_primary_color:              $white !default;
$btn_primary_bg:                 #5495cd !default;
$btn_primary_border:             transparent !default;

$btn_success_color:              $white !default;
$btn_success_bg:                 $success !default;
$btn_success_border:             transparent !default;

$btn_warning_color:                 $white !default;
$btn_warning_bg:                    $warning !default;
$btn_warning_border:                transparent !default;

$btn_danger_color:              $white !default;
$btn_danger_bg:                 $danger !default;
$btn_danger_border:             transparent !default;

// Allows for customizing button radius independently from global border radius
$btn_border_radius_base:         $border_radius_base !default;
$btn_border_radius_large:        $border_radius_large !default;
$btn_border_radius_small:        $border_radius_small !default;
/****Button End****/