.btn {
    @include box(); 
    @include button-variant($btn_default_color, $btn_default_bg, $btn_default_border, $btn_default_hover_color, $btn_default_hover_bg, $btn_default_hover_border, $btn_default_active_color, $btn_default_active_bg, $btn_default_active_border); //@include button-variant($btn_default_color, $btn_default_bg, $btn_default_border);
    
    @include disabled();
    //@include disabled($btn_default_color, $btn_default_bg, $btn_default_border);

    @include text-overflow();
    @include user-select(none);
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
}

//（默认样式）Default
.btn_default {
    @include button-variant($btn_default_color, $btn_default_bg, $btn_default_border, $btn_default_hover_color, $btn_default_hover_bg, $btn_default_hover_border, $btn_default_active_color, $btn_default_active_bg, $btn_default_active_border); //@include button-variant($btn_default_color, $btn_default_bg, $btn_default_border);
}

//（消极）negative
.btn_negative {
    @include button-variant($btn_negative_color, $btn_negative_bg, $btn_negative_border, $btn_negative_hover_color, $btn_negative_hover_bg, $btn_negative_hover_border, $btn_negative_active_color, $btn_negative_active_bg, $btn_negative_active_border); //@include button-variant($btn_primary_color, $btn_primary_bg, $btn_primary_border);
}

//（成功）Success
.btn_success {
    @include button-variant($btn_success_color, $btn_success_bg, $btn_success_border, $btn_success_hover_color, $btn_success_hover_bg, $btn_success_hover_border, $btn_success_active_color, $btn_success_active_bg, $btn_success_active_border); //@include button-variant($btn_success_color, $btn_success_bg, $btn_success_border); 
}

//（警告）Warning
.btn_warning {
    @include button-variant($btn_warning_color, $btn_warning_bg, $btn_warning_border, $btn_warning_hover_color, $btn_warning_hover_bg, $btn_warning_hover_border, $btn_warning_active_color, $btn_warning_active_bg, $btn_warning_active_border); //@include button-variant($btn_warning_color, $btn_warning_bg, $btn_warning_border); 
}

//（危险）Danger
.btn_danger {
    @include button-variant($btn_danger_color, $btn_danger_bg, $btn_danger_border, $btn_danger_hover_color, $btn_danger_hover_bg, $btn_danger_hover_border, $btn_danger_active_color, $btn_danger_active_bg, $btn_danger_active_border); //@include button-variant($btn_danger_color, $btn_danger_bg, $btn_danger_border); 
}

// // 次级重要信息
// .btn_level_2 {
//     @include button-variant(#0070b1, #f7f7f7, $gray3, #fff, $brand1, transparent, #fff, #346187, transparent);
// }

// // 最不重要信息
// .btn_level_3 {
//     @include button-variant(#346187, transparent, transparent, #346187, #d9d9d9, transparent, #fff, #4e7ba8, transparent);
// }

.btn_lg {
    @include button-size($padding_large_vertical, $padding_large_horizontal, $font_size_large, $line_height_large, $btn_border_radius_large);
}

.btn_sm {
    @include button-size($padding_small_vertical, $padding_small_horizontal, $font_size_small, $line_height_small, $btn_border_radius_small);
}

.btn_xs {
    @include button-size($padding_xs_vertical, $padding_xs_horizontal, $font_size_small, $line_height_small, $btn_border_radius_small);
}

.btn_block {
    display: block;
}

// Vertically space out multiple block buttons
.btn_block+.btn_block {
    margin-top: 5px;
}